extends layout

block content
  h1= title
  p Welcome to #{title}

  ol
    li 
      a(href="/loadrss") click loadrss to upload one file 
    li 
      a(href="/loadmulti") click loadmulti to upload two files file 

  p ================================================================    
