doctype html
head
  title PUG UPLOADER USING Multiparty lib
  meta(name='viewport' content='width=device-width, initial-scale=1')
h1  Uploaded file 
p file name: #{data.fname.originalFilename}
p file size: #{data.fname.size}
p file mime type: #{data.fname.headers['content-type']}

p file conetent: 

img(src=data.fileptath)
