extends layout

block content
  h1= title
  p Welcome to #{title}

  ol
    li 
      a(href="/uploadermp") upload file and processing it using multiparty
    li 
      a(href="/uploadersmpl") upload file and processing it using express-fileupload



  
 
