doctype html
head
  title PUG UPLOADER USING Multiparty lib
  meta(name='viewport' content='width=device-width, initial-scale=1')
h1  Upload file  using PUG  and Multiparty lib
form#uploadForm(enctype='multipart/form-data' action='/uploadermp' method='post')
  p
    label(for="dsc") Description:
    input(type="text", name="dsc", value='input description')
  p
  input(type='file' name='file')
  |    
  | Upload
  input(type='submit' value='Upload' name='submit')