openapi: 3.0.1
info:
  title: Watson Integration API definition for custom integration INT ENV
  description: Watson Integration API definition  for making  custom integration INT ENV
  version: 1.0.0
servers:
- url: https://chatbot-api-int.pravex.ua
paths:
  /get_client_by_phone:
    get:
      description: get client by phone
      operationId: get_client_by_phone
      parameters:
      - name: phone
        in: query
        description: Phone number
        required: true
        schema:
          type: string
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_client_by_phoneRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
  /sendSMS:
    post:
      description: send SMS
      operationId: sendSMS
      requestBody:
        description: The request body for the operation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/phoneType'
        required: true
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/sendSMSRespType'
        500:
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
      x-codegen-request-body-name: body
  /get_cards:
    get:
      description: Retrieve cards
      operationId: get_cards
      parameters:
      - name: cif
        in: query
        required: true
        schema:
          type: string
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_cardsRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
  /get_balance_by_cardid:
    get:
      description: Retrieve balance by cardid
      operationId: get_balance_by_cardid
      parameters:
      - name: cardid
        in: query
        description: cardid
        required: true
        schema:
          type: integer
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_balance_by_cardidRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
  /send_mail:
    post:
      description: Send a mail
      operationId: send_mail
      requestBody:
        description: The request body for the operation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/send_mailType'
        required: true
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send_mailRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
      x-codegen-request-body-name: body
  /get_exchrate_card_block:
    get:
      description: get card block exchange rates
      operationId: get_exchrate_card_block
      parameters:
      - name: dt
        in: query
        schema:
          type: string
          format: '''dd.mm.yyyy'''
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_exchrate_card_blockRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
  /get_exchrate_cash:
    get:
      description: get exchange rate for cash
      operationId: get_exchrate_cash
      parameters:
      - name: dt
        in: query
        schema:
          type: string
          format: '''dd.mm.yyyy'''
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_exchrate_cashRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
  /get_exchrate_online:
    get:
      description: get exchange rates for online
      operationId: get_exchrate_online
      parameters:
      - name: cif
        in: query
        required: true
        schema:
          type: string
          format: ""
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_exchrate_onlineRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
  /get_exchrate_card_conv:
    get:
      description: get exchange rate for card conv
      operationId: get_exchrate_card_conv
      parameters:
      - name: dt
        in: query
        schema:
          type: string
          format: '''dd.mm.yyyy'''
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_exchrate_card_convRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
  /get_exchrate_nbu:
    get:
      description: Get exchange rate for nbu
      operationId: get_exchrate_nbu
      parameters:
      - name: dt
        in: query
        schema:
          type: string
          format: '''dd.mm.yyyy'''
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_exchrate_nbuRespType'
  /send_mail_AML:
    post:
      description: Send a mail to AML
      operationId: send_mail_AML
      requestBody:
        description: The request body for the operation
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/send_mail_AMLType'
        required: true
      responses:
        200:
          description: The operation was successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/send_mail_AMLRespType'
        500:
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorType'
      x-codegen-request-body-name: body
components:
  schemas:
    get_client_by_phoneRespType:
      type: object
      properties:
        cif:
          type: string
        im:
          type: string
        otch:
          type: string
        fam:
          type: string
    errorType:
      type: object
      properties:
        status:
          type: integer
        code:
          type: integer
        message:
          type: string
        name:
          type: string
    phoneType:
      type: object
      properties:
        phone:
          type: string
    sendSMSRespType:
      type: object
      properties:
        messageId:
          type: string
        CodeAuth:
          type: string
    get_cardsRespType:
      type: object
      properties:
        cards:
          type: array
          items:
            type: object
            properties:
              cardid:
                type: integer
              cardnum:
                type: string
              cardname:
                type: string
    get_balance_by_cardidRespType:
      type: object
      properties:
        summa:
          type: string
        bonus:
          type: string
        currency:
          type: string
    send_mailType:
      required:
      - subject
      - text
      type: object
      properties:
        subject:
          type: string
        text:
          type: string
    send_mailRespType:
      required:
      - result
      type: object
      properties:
        result:
          type: string
    send_mail_AMLType:
      required:
      - cardname
      - consent
      - name
      - phone
      - product
      type: object
      properties:
        name:
          type: string
        phone:
          type: string
        consent:
          type: boolean
        product:
          type: string
        cardname:
          type: string
        docs:
          type: array
          items:
            type: object
            properties:
              file_name:
                type: string
              mime_type:
                type: string
              web_link:
                type: string
    send_mail_AMLRespType:
      required:
      - result
      type: object
      properties:
        result:
          type: string
    get_exchrate_card_blockRespType:
      type: object
      properties:
        EUR-UAH:
          required:
          - buy
          - sell
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        EUR-USD:
          required:
          - buy
          - sell
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        USD-UAH:
          required:
          - buy
          - sell
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
    get_exchrate_card_convRespType:
      type: object
      properties:
        EUR-UAH:
          required:
          - buy
          - sell
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        EUR-USD:
          required:
          - buy
          - sell
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        USD-UAH:
          required:
          - buy
          - sell
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
    get_exchrate_cashRespType:
      type: object
      properties:
        USD:
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        EUR:
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        RUB:
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        GBP:
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
    get_exchrate_onlineRespType:
      type: object
      properties:
        USD:
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
        EUR:
          type: object
          properties:
            buy:
              type: number
            sell:
              type: number
    get_exchrate_nbuRespType:
      type: object
      properties:
        USD:
          type: number
        EUR:
          type: number
        RUB:
          type: number
        GBP:
          type: number
        PLN:
          type: number
